{% extends "_base.html" %}

{% block content %}
    <div id="divContent" class="col-md-6 col-md-offset-3">
        <div class="alert-success">
            Your registration will be completed after confirming payment on your phone.
        </div>
        <br>

            </div>

            <div class="row">
                <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
                    <A href="{{ url_for('registration.registration_add') }}">Add Registration</A>

                    <br>
                </div>

            </div>
{% endblock %}